{
  "KafkaBrokers": "172.27.168.157:19092;172.27.168.157:29092;172.27.168.157:39092",
  "ConsumerGroup": "UNLOAD_AGENT",
  "RequestTopic": "UNLOAD_REQUEST",
  "RequestTimeoutMs": 5000,
  "ResponseTopic": "UNLOAD_RESPONSE",
  "ResponseTimeoutMs": 5000,
  "UnloadAgentDirectory": "DKA0:[USER.STEVEI.REPLICATION.UNLOAD]",
  "VerboseLogging": true,
  "DclLogging": false,
  "EnvironmentVariables": [
    {
      "Name": "ZIP_EXECUTABLE",
      "Value": "???????????????????????????????????????????????????????????????"
    },
    {
      "Name": "REPLICATOR_DATA",
      "Value": "DKA0:[USER.STEVEI.REPLICATION.DATA]"
    },
    {
      "Name": "REPLICATOR_SAMPLE_DATA",
      "Value": "DKA0:[USER.STEVEI.REPLICATION.DATA]"
    }
  ]
}