{
  "InstanceName": "DEFAULT",
  "KafkaBrokers": "SIROCKY.LOCAL:9092",
  "RequestTimeoutMs": 5000,
  "ResponseTimeoutMs": 5000,
  "UnloadAgentDirectory": "DKA100:[STEVEI.REPLICATION.UNLOAD]",
  "VerboseLogging": true,
  "DclLogging": false,
  "EnvironmentVariables": [
    {
      "Name": "ZIP_EXECUTABLE",
      "Value": "DKA100:[USR.BIN]ZIP30_I64.EXE"
    },
    {
      "Name": "REPLICATOR_DATA",
      "Value": "DKA100:[STEVEI.REPLICATION.DATA]"
    },
    {
      "Name": "REPLICATOR_SAMPLE_DATA",
      "Value": "DKA100:[STEVEI.REPLICATION.DATA]"
    }
  ]
}